<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="es.edufdezsoy.manga2kindle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:name=".M2kApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/settings" />

        <service
                android:name=".service.ScanMangaJobService"
                android:description="@string/service_ScanManga_description"
                android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
                android:name=".service.intentService.ScanMangaIntentService"
                android:description="@string/service_ScanManga_description"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
                android:name=".service.intentService.UpdateChapterStatusIntentService"
                android:description="@string/service_UpdateChapterStatus_description"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
                android:name=".service.intentService.ScanRemovedChaptersIntentService"
                android:description="@string/service_ScanRemovedChapters_description"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="es.edufdezsoy.manga2kindle.service.util.ServiceStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.base.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>